.wrapperpage{
	width: 100%;

} 
.img-contain img {
	
	margin: 0 auto;
}
/*=========================Style for media queries  ============================*/

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {  }

/* Small devices (landscape phones, less than 768px)*/
@media (min-width: 767.98px) {
    
	.img-contain img{
		height: 500px;
		width: 100%;
	
	}
 }

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 
   
	
 }

/* Large devices (desktops, greate than 1200px)*/
@media (min-width: 992px ) {
   
	.img-contain img {
		width: 100%;
		height: 660px;
}
  
 }
